body{
    background-color: #042d58;
}

.jumbotron{
    margin-bottom: 0%;
}
#login{
    margin-bottom: 5%;
}
#signup{
    margin-bottom: 5%;
}

#signupbutton{
    display: none;
}

#navsearchbar{
    display: none;
}

.col{
    padding: 1%;
    margin: auto;
}

#categorygridheading{
    padding: 1%;
    margin: 2%;
    background-color: rgba(0, 217, 255, 1);
    font-weight: bolder;
}

::placeholder{
    color: white;
    opacity: 1;
}
@media only screen and (min-width: 360px)
{
    #navsearchbar{
        display: block;
    }
}

@media only screen and (min-width: 768px)
{
    #signupbutton{
        display: inline-block;
    }

    #login{
        width: 60%;
    }

    #signup{
        width: 60%;
    }

    #guestbutton{
        margin-left: -40%;
    }

}