body{
    background-color: #042d58;
}

.jumbotron{
    margin-bottom: 0%;
}
#login{
    margin-bottom: 5%;
}
#signup{
    margin-bottom: 5%;
}

#signupbutton{
    display: none;
}

@media only screen and (min-width: 768px)
{
    #signupbutton{
        display: inline-block;
    }

    #login{
        width: 60%;
    }

    #signup{
        width: 60%;
    }

    #guestbutton{
        margin-left: -40%;
    }

}