body{
    background-color: #042d58;
}

footer.page-footer .footer-copyright{
    margin-top: -7%;
    position: relative;
}
#login{
    margin-bottom: 5%;
}

#signupbutton{
    display: none;
}

@media only screen and (min-width: 768px)
{
    #signupbutton{
        display: inline-block;
    }

    #login{
        width: 60%;
    }

    #guestbutton{
        margin-left: -40%;
    }

}